#include "msm-audio-tiffany.dtsi"
#include "msm-pm8953-tiffany.dtsi"
#include "msm-pmi8950-tiffany.dtsi"
#include "msm8953-pinctrl-tiffany.dtsi"
#include "msm8953-audio-tiffany.dtsi"
#include "msm8953-camera-sensor-qrd-tiffany.dtsi"
#include "dsi-panel-otm1911-fhd-video.dtsi"
#include "dsi-panel-ft8716-fhd-video.dtsi"
#include "dsi-panel-ili7807-fhd-video.dtsi"
#include "msm8953-pm-tiffany.dtsi"
#include "msm8953-qrd-sku3-tiffany.dtsi"
#include "msm8953-tiffany.dtsi"
#include "msm8953-qrd-tiffany.dtsi"
#include "msm8953-regulator-tiffany.dtsi"
